html{
    background-color: rgb(151, 222, 255);
}
h1{
    text-align:center;
}
ul{
    font-weight:bold;
    font-size:20px;
}
hr{
    font-weight:bold;
}
img{
    border:5px solid black;
}