html{
    background-color:rgb(236, 201, 238);
}
h1{
    text-align:center;
}
h2{
    text-align:center
}
p{
    font-size:larger;
    font-weight:bold;

}
img{
    height:200px;
    width 
    :200px;
    margin-left:300px;
}